<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="daniarachid.donation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Donation.NoActionBar">
        <activity android:name=".Administration.AdminControl"></activity>
        <activity android:name=".Administration.MainReport" />
        <activity
            android:name=".DonationRequestManagement.DonationRequestHistory"
            android:label="Donation History" />
        <activity
            android:name=".TestNavDrawer"
            android:theme="@style/Theme.Donation.NoActionBar" />
        <activity android:name=".Messaging.Chat" />
        <activity
            android:name=".DonationRequestManagement.TestReceiverRequestList"
            android:label="Outgoing Donation Requests" />
        <activity
            android:name=".DonationRequestManagement.TestDonorRequestList"
            android:label="Incoming Donation Requests" />
        <activity
            android:name=".DonationRequestManagement.ReceiverDonationRequestReview"
            android:theme="@style/Theme.Donation" />
        <activity android:name=".Categories" />
        <activity
            android:name=".DonationManagement.DonationItemView"
            android:label="Details"
            android:theme="@style/Theme.Donation" />
        <activity
            android:name=".DonationManagement.MyItemView"
            android:label="Details"
            android:theme="@style/Theme.Donation" />
        <activity
            android:name=".DonationManagement.MainDonation"
            android:label="Donation Items"
            android:theme="@style/Theme.Donation.NoActionBar" />
        <activity
            android:name=".DonationManagement.TestMyItem"
            android:label="My Donation Items" />
        <activity
            android:name=".UserAccount.EditProfile"
            android:label="Edit Profile"
            android:theme="@style/Theme.Donation" />
        <activity android:name=".Report" />
        <activity
            android:name=".Messaging.Conversation"
            android:theme="@style/Theme.Donation">

            <!-- Need to modify the audio part -->
        </activity>
        <activity
            android:name=".DonationRequestManagement.DonorDonationRequest"
            android:label="Donation Requests"
            android:theme="@style/Theme.Donation" />
        <activity
            android:name=".DonationManagement.AddDonationItem"
            android:label="@string/addDonationItemTitle"
            android:theme="@style/Theme.Donation" />
        <activity
            android:name=".UserAccount.UserProfile"
            android:label="@string/userProfileTitle"
            android:theme="@style/Theme.Donation.NoActionBar" />
        <activity
            android:name=".UserAccount.SignupActivity"
            android:label="@string/signupTitle"
            android:theme="@style/Theme.Donation" />
        <activity
            android:name=".MainActivity"
            android:label="@string/signinTitle"
            android:theme="@style/Theme.Donation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Notification.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".Notification.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>